<%= render "search_form_big" %>

<div class="results-stats">
    <%= render "results_search_terms" %>
    <% if @presenter.num_found > 0 %>
      <%= render "results_pagination_top" %>
    <% else %>
      <%= render "results_not_found" %>
    <% end %>
</div>

<h2 class="visible-print">Results</h2>
<div id="search-results">
    <% @presenter.results.each do |item| %>
      <div class="result-row">
        <div class="result-title">
            <% if item.title_filing == "" %>
              <a target="_blank" href="<%= ead_show_path() %>?eadid=<%=item.ead_id %>">(untitled)</a>
            <% else %>
              <a target="_blank" href="<%= ead_show_path() %>?eadid=<%=item.ead_id %>"><%= item.title_filing %></a>
            <% end %>
        </div>

        <dl>
          <% if @presenter.debug %>
            <dt class="result-debug">Title Sort:</dt> <dd class="result-debug"><%= item.title_sort || 'N/A' %></dd>
            <dt class="result-debug">Format:</dt> <dd class="result-debug"><%= item.inv_level %></dd>
            <dt class="result-debug">Timestamp:</dt> <dd class="result-debug"><%= item.timestamp %></dd>
            <dt class="result-debug">Start Year:</dt> <dd class="result-debug"><%= item.start_year %></dd>
            <dt class="result-debug">End Year:</dt> <dd class="result-debug"><%= item.end_year %></dd>
            <dt class="result-debug"></dt> <dd><a target="_blank", href="<%= ead_download_path() %>?eadid=<%=item.ead_id %>">Download XML</a></dd>
            <% if @presenter.empty_search? %>
              <dt class="result-debug"></dt> <dd><%= item.match_count %> archival items</dd>
            <% end %>
          <% end %>

          <% if item.title %>
            <dt>Formal title: </dt> <dd><%= item.title_hl.html_safe %></dd>
          <% end %>

          <% if item.extent %>
            <dt>Extent:</dt> <dd><%= item.extent %></dd>
          <% end %>

          <% if item.date_display %>
            <dt>Date range:</dt> <dd><%= item.date_display %></dd>
          <% end %>

          <% if item.abstract %>
            <dt>Abstract:</dt> <dd><%= item.abstract_hl.html_safe %></dd>
          <% end %>

          <% if item.repository %>
            <dt>Repository:</dt> <dd><%= item.repository %></dd>
          <% end %>

          <% if item.call_no %>
            <dt>Collection call no:</dt> <dd><%= item.call_no %></dd>
          <% end %>

          <% if !@presenter.empty_search? && item.children.count > 0 %>
            <dt>Inventory:</dt><dd></dd>
          <% end %>
        </dl>

        <% if !@presenter.empty_search? && item.children.count > 0 %>
          <table class="inventory-table">
            <% item.children_sorted.each do |inv_item| %>
              <tr>
                <td class="inv-level"><%= inv_item.inv_level %></td>
                <td class="inv-container">
                  <% if inv_item.inv_id == nil %>
                    <%= inv_item.inv_container %>
                  <% else %>
                    <a target="_blank" href="<%= ead_show_path() %>?eadid=<%=item.ead_id %>&view=inventory#<%=inv_item.inv_id %>"><%= inv_item.inv_container %></a>
                  <% end %>
                </td>
                <td class="inv-scope">
                  <% if inv_item.is_file? %>
                    <%= inv_item.file_text_hl.html_safe %>
                  <% else %>
                    <%= inv_item.inv_label_hl.html_safe %><br/>
                    <%= inv_item.inv_scope_content_hl.html_safe %>
                  <% end %>
                </td>
                <td class="inv-date">
                <% if inv_item.is_file? %>
                    <a target="_blank" href="<%= ead_view_file_path(eadid: item.ead_id, filename: inv_item.inv_container) %>">View File</a>
                <% else %>
                  <%= inv_item.inv_date %>
                <% end %>
                </td>
              </tr>
            <% end %>
          </table>
          <div class="inventory-bottom">
            <% if item.match_count > 4 %>
              ...and <%= item.match_count-4 %> other <%= @presenter.inventory_more_link(item, 4).html_safe %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
        <% end %>

        <div class="separator"></div>
      </div> <!-- result-row -->

    <% end %> <!-- @presenter.results.each -->
</div> <!-- search-results -->

<%=render "results_pagination_bottom" %>