<%= render "search_form_big" %>

<div class="results-stats">
    <%= render "results_search_terms" %>
    <% if @presenter.num_found > 0 %>
      <%= render "results_pagination_top" %>
    <% else %>
      <%= render "results_not_found" %>
    <% end %>
</div>

<h2 class="visible-print">Results</h2>
<div id="search-results">
    <% @presenter.results.each do |item| %>
      <div class="result-row">
        <div class="result-title">
            <% if item.title_filing == "" %>
              <a target="_blank" href="<%= ead_show_path() %>?eadid=<%=item.ead_id %>">(untitled)</a>
            <% else %>
              <a target="_blank" href="<%= ead_show_path() %>?eadid=<%=item.ead_id %>"><%= item.title_filing %></a>
            <% end %>
        </div>

        <dl>
          <% if @presenter.debug %>
            <dt class="result-debug">Title Sort:</dt> <dd class="result-debug"><%= item.title_sort || 'N/A' %></dd>
            <dt class="result-debug">Format:</dt> <dd class="result-debug"><%= item.inv_level %></dd>
            <dt class="result-debug">Timestamp:</dt> <dd class="result-debug"><%= item.timestamp %></dd>
            <dt class="result-debug">Start Year:</dt> <dd class="result-debug"><%= item.start_year %></dd>
            <dt class="result-debug">End Year:</dt> <dd class="result-debug"><%= item.end_year %></dd>
            <dt class="result-debug"></dt> <dd><a target="_blank", href="<%= ead_download_path() %>?eadid=<%=item.ead_id %>">Download XML</a></dd>
            <% if @presenter.empty_search? %>
              <dt class="result-debug"></dt> <dd><%= item.match_count %> archival items</dd>
            <% end %>
          <% end %>

          <% if item.title %>
            <dt>Formal title: </dt> <dd><%= item.title_hl.html_safe %></dd>
          <% end %>

          <% if item.extent %>
            <dt>Extent:</dt> <dd><%= item.extent %></dd>
          <% end %>

          <% if item.date_display %>
            <dt>Date range:</dt> <dd><%= item.date_display %></dd>
          <% end %>

          <% if item.abstract %>
            <dt>Abstract:</dt> <dd><%= item.abstract_hl.html_safe %></dd>
          <% end %>

          <% if item.repository %>
            <dt>Repository:</dt> <dd><%= item.repository %></dd>
          <% end %>

          <% if item.call_no %>
            <dt>Collection call no:</dt> <dd><%= item.call_no %></dd>
          <% end %>

          <% if !@presenter.empty_search? && item.children.count > 0 %>
            <dt>Inventory:</dt><dd></dd>
          <% end %>
        </dl>

        <% if !@presenter.empty_search? && item.children.count > 0 %>
          <table class="inventory-table" id="inv_<%= item.html_id %>">
            <% item.children_sorted.each do |inv_item| %>
              <tr id="inv_item_<%= inv_item.html_inv_id %>">
                <td class="inv-level"><%= inv_item.inv_level %></td>
                <td class="inv-container">
                  <% if inv_item.inv_id == nil %>
                    <%= inv_item.inv_container %>
                  <% else %>
                    <% if inv_item.is_file? %>
                      <a target="_blank" href="<%= ead_show_path() %>?eadid=<%=item.ead_id %>&view=inventory#<%=inv_item.inv_id %>"><%= inv_item.inv_label %></a>
                    <% else %>
                      <a target="_blank" href="<%= ead_show_path() %>?eadid=<%=item.ead_id %>&view=inventory#<%=inv_item.inv_id %>"><%= inv_item.inv_container %></a>
                    <% end %>
                  <% end %>
                </td>
                <td class="inv-scope">
                  <% if inv_item.is_file? %>
                    <% if @presenter.reading_room? %>
                      <%= inv_item.file_text_hl.html_safe %>
                      <p><a target="_blank"
                        title="Content available to reading room users"
                        href="<%= ead_view_file_path(eadid: item.ead_id, filename: inv_item.inv_filename) %>">View File</a>
                      </p>
                    <% else %>
                      <p><%= inv_item.file_text_hl.html_safe %></p>
                    <% end %>
                  <% else %>
                    <%= inv_item.inv_label_hl.html_safe %><br/>
                    <%= inv_item.inv_scope_content_hl.html_safe %>
                  <% end %>
                </td>
                <td class="inv-date">
                  <%= inv_item.inv_date %>
                </td>
              </tr>
            <% end %>
          </table>
          <div class="inventory-bottom">
            <% if item.match_count > 4 %>
              <% if item.ead_id == "US-RPB-ms2018.010" %>
                <!-- TODO: remove hardcoded logic -->
                <noscript>
                  ...and <%= item.match_count-4 %> other <%= @presenter.inventory_more_link(item, 4).html_safe %>
                </noscript>
                <span class="more_inv hidden">
                  ...and <%= item.match_count-4 %> other matches,
                  <a class="load_inv"
                    data-html_id="<%= item.html_id %>"
                    data-link="<%= files_search_url(ead_id: item.ead_id, q: @presenter.query) %>"
                    href="<%= files_search_url(ead_id: item.ead_id, q: @presenter.query) %>">load them.</a>
                </span>
              <% else %>
                ...and <%= item.match_count-4 %> other <%= @presenter.inventory_more_link(item, 4).html_safe %>
              <% end %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
        <% end %>

        <div class="separator"></div>
      </div> <!-- result-row -->

    <% end %> <!-- @presenter.results.each -->
</div> <!-- search-results -->

<%=render "results_pagination_bottom" %>

<script>
  $(function() {

    // Make the "load them" link visible (in the Bornstein collection)
    $(".more_inv").removeClass("hidden");

    // Setup the load inventory logic (in the Bornstein collection)
    $(".load_inv").on("click", function(el) {

      var ead_show_path = "<%= ead_show_path() %>";
      var ead_view_file_path = "<%= @presenter.reading_room? ? ead_view_file_path(eadid: 'EADID', filename: 'FILENAME') : '' %>";
      var htmlId = el.currentTarget.dataset["html_id"];
      var url = el.currentTarget.dataset["link"];

      var loading_html = '<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...';
      $(".more_inv").html(loading_html);

      // Fetch all the files for the current EAD.
      $.ajax({
        dataType: "json",
        url: url,
        success: function(data,status) {
          var i, td1, td2, td2_url, td3, td4, tr, tr_id, text_hl;
          var html = "";
          for(i = 0; i < data.length; i++) {
            tr_id = "inv_item_" + data[i].inv_id;
            if (document.getElementById(tr_id) !== null) {
              continue;
            }
            td1 = "<td>" + data[i].inv_level + "</td>";

            td2_url = ead_show_path + "?eadid=" + data[i].ead_id + "&view=inventory#" + data[i].inv_id;
            td2 = '<td>' +
              '<a target="_blank" href="' + td2_url + '">' + data[i].inv_label + '</a>'
            '</td>';

            text_hl = (data[i].highlights["text_txt_en"] || []).join("...<br/>");
            if (ead_view_file_path === "") {
              text_hl += '<p></p>';
              td3 = "<td>" + text_hl +"</td>";
            } else {
              td3_url = ead_view_file_path.replace("EADID", data[i].ead_id);
              td3_url = td3_url.replace("FILENAME", data[i].inv_filename);
              text_hl += '<p><a target="_blank" href="' + td3_url + '">View File</a></p>';
              td3 = "<td>" + text_hl +"</td>";
            }

            td4 = "<td>" + (data[i].inv_date || "") + "</td>";
            tr = '<tr id="' + tr_id + '">' + td1 + td2 + td3 + td4 + '</tr>';
            html += tr;
          }
          $("#inv_" + htmlId).first().append(html);
          $(".more_inv").html("<span>&nbsp;</span>");
        }
      });
      return false;
    })
  });
</script>