<!-- top bar: 1/N results found -->
<div class="pagination-top">
  <% if @presenter.page == 1 %>
    <span class="chevron-nav-title text-muted">« Previous</span>
  <% else %>
    <a href="<%= @presenter.previous_url %>" ><span class="chevron-nav-title">« Previous</span></a>
  <% end %>

  <span class="search-result-numbers">
    | <span id="search-page-start"><b><%= @presenter.start + 1 %></b></span>
    -
    <span id="search-page-end"><b><%= @presenter.end %></b></span>
    of
    <span id="search-page-end"><b><%= @presenter.num_eads == 100 ? "100+" : @presenter.num_eads.to_s %></b></span>
    collections |
  </span>

  <% if @presenter.page >= (@presenter.num_pages) %>
    <span class="chevron-nav-title text-muted">Next »</span>
  <% else %>
    <a href="<%= @presenter.next_url %>">
      <span class="chevron-nav-title">Next »</span>
    </a>
  <% end %>
  <hr/>
</div>
