<style>
.no-orphans {
	display: inline-block;
	white-space: nowrap;
}

em {
  background-color: #F3F5B3;  /* light yellow */
}

.result {
  padding-left: 15px;
}

.facet-text-truncated {
  /* source https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.result-title {
  font-size: large;
}

.result-bottom {
  text-align: right;
  padding-right: 160px;
}

.table {
  margin-top: 7px;
  margin-left: 25px;
  margin-bottom: 0px;
  max-width: 80%;
}

.table_cell {
  border: 1px solid #c3bebe;  /* gray */
  padding-left: 5px;
  padding-right: 5px;
}

/* results */
.results-wrapper {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	padding-right: 0;
}
#search-result-count {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	cursor: default;
	margin: 0 1.5rem 1.8rem 1.5rem;
	padding: 1rem 0;
}
#search-result-count .search-result-previous {
	position: relative;
	padding: 1rem;
}
#search-result-count .search-result-previous:after {
	content: "";
	position: absolute;
	top: 5%;
	right: 0;
	width: 1px;
	height: 90%;
	background: #000;
}
#search-result-count .search-result-previous.is-active:hover {
	background-color: #337ab7;
	transition-property: background-color;
	transition-delay: 0s;
	transition-duration: .3s;
	transition-timing-function: ease;
	cursor: pointer;
}
#search-result-count .search-result-previous.is-active:hover a {
	color: #fff;
	transition-property: color;
	transition-delay: 0s;
	transition-duration: .3s;
	transition-timing-function: ease;
}
#search-result-count .search-result-previous.is-active:hover .glyphicon {
	color: #fff;
	transition-property: color;
	transition-delay: 0s;
	transition-duration: .3s;
	transition-timing-function: ease;
}
#search-result-count .search-result-next {
	position: relative;
	padding: 1rem;
}
#search-result-count .search-result-next:before {
	content: "";
	position: absolute;
	top: 5%;
	left: 0;
	width: 1px;
	height: 90%;
	background: #000;
}
#search-result-count .search-result-next.is-active:hover {
	background-color: #337ab7;
	transition-property: background-color;
	transition-delay: 0s;
	transition-duration: .3s;
	transition-timing-function: ease;
	cursor: pointer;
}
#search-result-count .search-result-next.is-active:hover a {
	color: #fff;
	transition-property: color;
	transition-delay: 0s;
	transition-duration: .3s;
	transition-timing-function: ease;
}
#search-result-count .search-result-next.is-active:hover .glyphicon {
	color: #fff;
	transition-property: color;
	transition-delay: 0s;
	transition-duration: .3s;
	transition-timing-function: ease;
}
#search-result-count .search-result-numbers {
	position: relative;
	padding: 1rem;
}
.facet-breadcrumbs {
  padding-left: 1.5rem;
  margin-bottom: 7px;
}
.facet-breadcrumbs .search-result-facets a {
	border: 1px solid gray;
	border-radius: 5px;
	display: inline-block;
	margin: 0 0 .5rem 0; /* negative margin to remove white space between inline-block span elements */
	padding: .5rem .8rem;
}
#search-result-count .glyphicon {
	color: #333;
	font-weight: 100;
	transform: scale(1.5);
}
#search-result-count .glyphicon-chevron-left {
	margin-right: .5rem;
}
#search-result-count .glyphicon-chevron-right {
	margin-left: .5rem;
}
#search-result-count .is-inactive {
	color: #aaa;
}
#search-result-count a, .text-muted {
	color: #333;
}
#search-result-count a {
	font-weight: 600;
}
/*
.facet-breadcrumbs a {
 	color: #333;
}
.facet-breadcrumbs a:hover {
	color: #594036;
}
*/
.categoryCount {
  color: #594036;
  margin: 0 -2px;
}

.panel-default {
	border: 1px solid #333;
}
.panel-default > .panel-heading {
	background-color: #1e5a95;
	background-image: none;
	background-repeat: no-repeat;
	border-bottom: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: #fff;
	margin: 0 -.1rem;
}
</style>

<%= render "results_javascript" %>
<%= render "search_box" %>

<div class="container-fluid results-page col-sm-12">
  <div class="row results-page-wrapper">
    <div class="results-wrapper col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
      <div class="result-nums-breadcrumbs-wrapper">
        <%= render "results_pagination_top" %>
        <%= render "results_search_terms" %>
      </div> <!-- result-nums-breadcrumbs-wrapper -->

      <h2 class="visible-print">Results</h2>

      <!-- search results -->
      <div class="row results-row col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <% @presenter.results.each_with_index do |item, index| %>
            <!-- move out of here the logic to handle different
                 types of results (collections, series, items) -->
            <div style="padding-bottom:10px; padding-left: 15px;">
              <div class="result-title">
                  <a target="_blank", href="<%= ead_show_path() %>?eadid=<%=item.ead_id %>"><%= item.title %></a>
              </div>
              <div class="result"><b>Format:</b> <%= item.inv_level %></div>

              <% if @presenter.debug %>
                <div class="result"><b>Timestamp:</b> <%= item.timestamp %></div>
              <% end %>

              <% if item.institution_name  %>
                <div class="result"><b>Institution:</b> <%= item.institution_name %></div>
              <% end %>

              <% if item.extent %>
                <div class="result"><b>Extent:</b> <%= item.extent %></div>
              <% end %>

              <% if item.abstract %>
                <div class="result"><b>Abstract:</b> <%= item.abstract_hl.html_safe %></div>
              <% end %>

              <% if item.scope_content_hl? %>
                <div class="result"><b>Scope and Content:</b> <%= item.scope_content_hl.html_safe %></div>
              <% end %>

              <% if item.subjects_hl? %>
                <div class="result"><b>Subjects:</b> <%= item.subjects_hl.html_safe %></div>
              <% end %>

              <% if item.repository %>
                <div class="result"><b>Repository:</b> <%= item.repository %></div>
              <% end %>

              <% if item.inv_container %>
                <div class="result">Container: <%= item.inv_container %></div>
              <% end %>

              <% if item.inv_label %>
                <div class="result">Label: <%= item.inv_label_hl.html_safe %></div>
              <% end %>

              <% if item.inv_date %>
                <div class="result">Date: <%= item.inv_date %></div>
              <% end %>

              <% if @presenter.empty_search? %>
                <div class="result"><i>(<%= item.match_count %> archival items)</i></div>
              <% else %>

                <% if item.children.count > 0 %>
                  <div class="result"><b>Inventory:</b></div>
                  <table class="table">
                  <% item.children.each do |inv_item| %>
                    <tr>
                      <td class="table_cell"><%= inv_item.inv_level %></td>
                      <td class="table_cell"><%= inv_item.inv_container %></td>
                      <td class="table_cell">
                        <%= inv_item.inv_scope_content_hl.html_safe %>
                        <%= inv_item.inv_label_hl.html_safe %>
                      </td>
                      <td class="table_cell"><%= inv_item.inv_date %></td>
                    </tr>
                  <% end %>
                  </table>
                  <% if item.match_count > 4 %>
                    <div class="result-bottom">
                      ...and <%= item.match_count-4 %> other <a target="_blank", href="render.php?eadid=<%=item.ead_id %>&view=inventory">matches</a>
                    </div>
                  <% end %>
                <% end %>

              <% end %>
            </div>
        <% end %>
      </div> <!-- row results-row col-lg-12 col-md-12 col-sm-12 col-xs-12 -->

      <!-- this guy wreaks havoc with the links on the page
      render "results_pagination_bottom" -->

    </div> <!-- results-wrapper col-lg-9 col-lg-push-3 ... -->

    <% if @presenter.num_found > 0 %>
      <%= render "results_facets" %>
    <% end %>

  </div> <!-- row -->
</div> <!-- container-fluid col-sm-12 -->

<% if @presenter.explain_format != nil %>
  <%= render "explain_results" %>
<% end %>
