<%= render "facets_javascript" %>

<div class="col-sm-3 hidden-print content-margin-top">
  <%= render "results_facets" %>
</div>

<div class="results-wrapper col-sm-7 content-margin-top">
    <% if @presenter.home_page? %>
      <%= render "results_home_page" %>
    <% else %>
      <%= render "results_rows" %>
    <% end %>
</div> <!-- results-wrapper -->

<div class="col-sm-2 hidden-print content-margin-top">
    <%= render "right_menu" %>
</div>

<script>
  $(function() {
    // Force the focus to the search box...
    var theValue = $("#q").val();
    $("#q").focus();
    // ...and the cursor at the end of the text
    $("#q").val("");
    $("#q").val(theValue);
  });
</script>