<script>
  $(function () {
    // Enable tooltips
    // https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-tooltips.php
    var options = {
      html: true,
      placement: "bottom"
    };
    $("[data-toggle='tooltip']").tooltip(options);
  });
</script>


<style>
/* Override Bootstrap default values*/
.tooltip-inner {
  max-width: 300px;
  text-align: left;
}

.tooltip strong {
  color: blue;
  background-color: #F5F2EC;  /* light beige */
}

em {
  background-color: #F3F5B3;  /* light yellow */
}
</style>

<%= render "results_javascript" %>
<%= render "search_box" %>

<div class="container-fluid results-page col-sm-12">
  <!-- render "manage_profile_login" -->

  <div class="row results-page-wrapper">
    <div class="results-wrapper col-lg-9 col-lg-push-3 col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
      <div class="result-nums-breadcrumbs-wrapper">
        <%= render "results_pagination_top" %>
        <%= render "results_search_terms" %>
      </div> <!-- result-nums-breadcrumbs-wrapper -->

      <h2 class="visible-print">Results</h2>

      <!-- search results -->
      <div class="row results-row col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <% @presenter.results.each_with_index do |item, index| %>
            <!-- move out of here the logic to handle different
                 types of results (collections, series, items) -->
            <div style="padding-bottom:10px">
              <div><b><a target="_blank", href="render.php?eadid=<%=item.ead_id %>"><%= item.title %></a></b></div>
              <div style="padding-left: 15px">Format: <%= item.inv_level %></div>

              <% if item.institution_name  %>
                <div style="padding-left: 15px">Institution: <%= item.institution_name %></div>
              <% end %>

              <% if item.extent %>
                <div style="padding-left: 15px"><%= item.extent %></div>
              <% end %>

              <% if item.abstract %>
                <div style="padding-left: 15px"><%= item.abstract.html_safe %></div>
              <% end %>

              <% if item.repository %>
                <div style="padding-left: 15px"><i>Repository: <%= item.repository %></i></div>
              <% end %>

              <% if item.inv_container %>
                <div style="padding-left: 15px">Container: <%= item.inv_container %></div>
              <% end %>

              <% if item.inv_label %>
                <div style="padding-left: 15px">Label: <%= item.inv_label.html_safe %></div>
              <% end %>

              <% if item.inv_date %>
                <div style="padding-left: 15px">Date: <%= item.inv_date %></div>
              <% end %>

              <% if item.children.count > 0 %>
                <% item.children.each do |inv_item| %>
                  <p><%= inv_item.inv_container %> <%= inv_item.inv_label.html_safe %> (<%= inv_item.inv_date %>)</p>
                <% end %>
              <% end %>

            </div>
        <% end %>
      </div> <!-- row results-row col-lg-12 col-md-12 col-sm-12 col-xs-12 -->

      <!-- this guy wreaks havoc with the links on the page
      render "results_pagination_bottom" -->

    </div> <!-- results-wrapper col-lg-9 col-lg-push-3 ... -->

    <% if @presenter.num_found > 0 %>
      <%= render "results_facets" %>
    <% end %>

  </div> <!-- row -->
</div> <!-- container-fluid col-sm-12 -->

<% if @presenter.explain_format != nil %>
  <%= render "explain_results" %>
<% end %>
