<style>
    h1 {
        margin-top: 0px;
    }
</style>
<div class="row">
    <div class="col-sm-3 content-margin-top" >
        <h1><%= @presenter.ead_title %> (<%= @presenter.call_no %>)</h1>
        <p>File: <%= @presenter.file_label %> (<%= @presenter.file_name %>)<br/>
        <a href="<%= ead_show_path() %>?eadid=<%=@presenter.ead_id %>&view=inventory#<%=@presenter.inv_id %>">View in inventory</a></p>
        <p><%= @presenter.scope_content.html_safe %></p>
    </div>
    <div class="col-sm-9 content-margin-top" >
        <div style="height: 90vh;">
            <embed
                src="<%= ead_raw_file_path(eadid: @presenter.ead_id, filename: @presenter.file_name) %>"
                type="application/pdf" height="100%" width="95%">
        </div>
    </div>
</div>


