<div class="main-text col-sm-10 content-margin-top">
    <h1>Contact</h1>
    <ul>
        <% @presenter.institutions.each do |inst| %>
            <li>
                <% if inst[:link] != nil %>
                    <a href="<%= inst[:link] %>" target="_blank"><%= inst[:name] %></a>
                <% else %>
                    <%= inst[:name] %>
                <% end %>

            <% if inst[:contacts] && inst[:contacts].count > 0 %>
                <ul>
                <% inst[:contacts].each do |contact| %>
                    <li>
                    <% if contact[:link] != nil %>
                        <a href="<%= contact[:link] %>" target="_blank"><%= contact[:text] %></a>
                    <% else %>
                        <%= contact[:text] %>
                    <% end %>
                    <% if contact[:email] != nil %>
                        | <a href="mailto:<%= contact[:email] %>"><%= contact[:email] %></a>
                    <% end %>
                <% end %>
                </ul>
            <% elsif inst[:email] %>
                | <a href="mailto:<%= inst[:email] %>"><%= inst[:email] %></a>
            <% end %>
        <% end %>
    </ul>

    <div>
        <p>
            <a class="btn btn-primary" href="<%= home_join_path() %>">Join RIAMCO</a>
        </p>
        <p>If you are a representative of a Rhode Island library,
        archive, museum, or other repository interested in
        joining RIAMCO please contact:
        </p>

        <p>Karen Eberhart<br />
        Manuscripts Processing Archivist<br />
        Brown University<br />
        John Hay Library, Box A<br />
        Providence, RI 02912<br />
        E-mail: <a href="mailto:contact@riamco.org">contact@riamco.org</a><br />
        Telephone: (401) 863-5309
        </p>
    </div>
</div>

<div class="col-sm-2 hidden-print content-margin-top">
    <%= render "right_menu" %>
</div>
