<style>
    .list-unstyled > li {
        padding-bottom: 5px;
    }
</style>

<h2 class="sr-only">Options</h2>
<div id="options" class="options">
    <div class="panel-group" id="pg_help">
        <div class="panel panel-default">
            <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#op_help">
                <div class="panel-title">
                    <h3 class="facetLabel">Need Help?</h3>
                </div>
            </div>
            <div id="op_help" class="panel-body panel-collapse collapse in">
                <ul class="list-unstyled">
                    <li><a href="" data-toggle="modal" data-target="#modal_search_tips">Search Tips</a>
                    <li><a href="<%= home_faq_url() %>" title="Frequently Asked Questions about this site">FAQ</a>
                    <li><a href="<%= home_contact_url() %>" title="Information on how to contact a member institution">Contact an Institution</a>
                    <li><a href="<%= home_resources_other_url() %>">Other Resources</a>
                </ul>
          </div> <!-- panel body -->
        </div> <!-- panel -->
    </div> <!-- panel-group -->

    <div class="panel-group" id="pg_participating">
        <div class="panel panel-default">
            <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#op_participating">
                <div class="panel-title">
                    <h3 class="facetLabel">For Participating Institutions</h3>
                </div>
            </div>
            <div id="op_participating" class="panel-body panel-collapse collapse in">
                <ul class="list-unstyled">
                    <li><a href="<%= home_join_url() %>" title="Become a Participating Institution">Join RIAMCO</a>
                    <li><a href="https://www.riamco.org/upload" title="Login to deposit new finding aids">Log-in</a>
                    <li><a href="<%= home_resources_url() %>">Resources</a>
                </ul>
            </div> <!-- panel body -->
        </div> <!-- panel -->
    </div> <!-- panel-group -->
</div> <!-- options -->

<div id="modal_search_tips" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="close window">
                    <span title="Close this window" class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modal-title">Search Tips</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p><b>When <a href="<%= root_url() %>">searching</a>, it is helpful to keep a few things in mind:</b></p>
                    <ul>
                        <li>Try many different terms.
                        <li>Only results where all the searched terms are found are included.
                        <li>You can search for specific <i>phrases</i> by using double quotation marks, e.g. "Abraham Lincoln".
                        <li>You may narrow down your results by institution, creator, date, subject, format, language,
                            and collection via the search filters on the left of the screen.
                        <li>Use the <a href="<%= advanced_search_url() %>">advanced search</a> to create boolean expressions (e.g. AND, OR, NOT)
                    </ul>
                    </p>
                </div>
            </div> <!-- modal body -->
        </div> <!-- modal content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal_form -->
