<style>
    .list-unstyled > li {
        padding-bottom: 5px;
    }
</style>

<h2 class="sr-only">Options</h2>
<div id="options" class="options">
    <div class="panel-group" id="pg_help">
        <div class="panel panel-default">
            <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#op_help">
                <div class="panel-title">
                    <h3 class="facetLabel">Need Help?</h3>
                </div>
            </div>
            <div id="op_help" class="panel-body panel-collapse collapse in">
                <ul class="list-unstyled">
                    <li><a href="" data-toggle="modal" data-target="#modal_search_tips">Search Tips</a>
                    <li><a href="<%= home_faq_url() %>" title="Frequently Asked Questions about this site">FAQ</a>
                    <li><a href="<%= home_contact_url() %>" title="Information on how to contact a member institution">Contact an Institution</a>
                    <li><a href="<%= home_resources_other_url() %>">Other Resources</a>
                </ul>
          </div> <!-- panel body -->
        </div> <!-- panel -->
    </div> <!-- panel-group -->

    <div class="panel-group" id="pg_participating">
        <div class="panel panel-default">
            <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#op_participating">
                <div class="panel-title">
                    <h3 class="facetLabel">For Participating Institutions</h3>
                </div>
            </div>
            <div id="op_participating" class="panel-body panel-collapse collapse in">
                <ul class="list-unstyled">
                    <li><a href="<%= home_join_url() %>" title="Become a Participating Institution">Join RIAMCO</a>
                    <li><a href="https://library.brown.edu/riamco_admin/login/?next=/riamco_admin/" title="Login to deposit new finding aids">Log-in</a>
                    <li><a href="<%= home_resources_url() %>"">Resources</a>
                </ul>
            </div> <!-- panel body -->
        </div> <!-- panel -->
    </div> <!-- panel-group -->
</div> <!-- options -->

<div id="modal_search_tips" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="close window">
                    <span title="Close this window" class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modal-title">Search Tips</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p><b>When searching, it is helpful to keep a few things in mind:</b></p>
                    <ul>
                        <li>Try many different terms.
                        <li>Only results where all the searched terms are found are included.
                        <li>You can search for specific <i>phrases</i> by using double quotation marks, e.g. "Abraham Lincoln".
                        <li>You may narrow down your results by institution, creator, date, subject, format, language,
                            and collection via the search filters on the left of the screen.
                        <li>Use the <a href="<%= advanced_search_url() %>">advanced search</a> to create boolean expressions (e.g. AND, OR, NOT)
                    </ul>
                    </p>
                </div>
            </div> <!-- modal body -->
        </div> <!-- modal content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal_form -->

<div id="modal_faq" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="close window">
                    <span title="Close this window" class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modal-title">Frequently Asked Questions</h4>
            </div>
            <div class="modal-body">
                <div>
                        <h4>What is RIAMCO?</h4>
                        <p>The Rhode Island Archival and Manuscript Collections Online (RIAMCO)
                            provides access to archival and manuscript collections throughout
                            Rhode Island. Researchers can locate collections from multiple
                            institutions relating to their research through one comprehensive
                            website regardless of physical location.</p>

                        <h4>Does RIAMCO have archival and manuscripts in its collection?</h4>
                        <p>No. RIAMCO is not a repository or institution. RIAMCO provides
                            online inventories of archival materials found at multiple Rhode
                            Island repositories, including museums, historical societies, and
                            archives. These inventories are known as “finding aids,” and each
                            finding aid provides a guide to a collection with links to the
                            institution that owns the original materials.</p>

                        <h4>What Is a Finding Aid?</h4>
                        <p>A finding aid, or collection guide, provides you with the
                            information you need to determine if a collection contains useful information for
                            your research. The purpose of the finding aid is to describe a collection’s
                            context, materials, associated collections, and other such information. The
                            RIAMCO website is a collection of online finding aids.</p>

                        <h4>How to Search or Browse</h4>
                        <p>Use the Search Box on the <a href="<%= root_path() %>">RIAMCO Home page</a> to find a word (or words) appearing
                            anywhere within RIAMCO finding aids. <a href="advanced_search">Advanced Search</a> will
                            allow you to specify where in the documents to look for the words you enter and to limit your search
                            to one or more specific institutions. The Advanced Search page provides search tips.</p>

                        <p>Use <a href="search">Browse</a> to find lists of archival collections under the name of an institution
                            or by the subject of the collections.</p>

                        <h4>I found something I’d like to see; how do I view the original?</h4>
                        <p>If you have a question about an archival collection, image, or text that you
                            found through this site, or would like to see the original version of an
                            online item, you will need to contact the repository that owns the item.
                            Look at the top of the finding aid page describing the item you wish to
                            see to locate the contact information for the repository that owns it.</p>

                        <p>You can also find contact information for all repositories in the RIAMCO
                            consortium by going to the <a href="contact">Contact a Repository</a> page of this website.</p>

                        <h4>How do I contact a Repository?</h4>
                        <p>To locate contact information for a repository, go to the <a href="contact">Contact a Repository</a>
                            page of this website.</p>

                        <h4>How do I cite an image or text in a paper or presentation?</h4>
                        <p>The citation format may vary from institution to institution. Consult the
                            individual finding aid’s <i>Access and Use</i> section for citation information.</p>

                        <h4>How do I obtain permission to publish or reproduce an image or text?</h4>
                        <p>RIAMCO does not own any of these materials, but only hosts descriptions of
                            them online. The contents of the RIAMCO database are made publicly-available
                            by the repositories who own the collections. These materials are intended
                            to be used for research, teaching, and private study. All items may be
                            protected by the U.S. Copyright Law (Title 17, U.S.C.). Usage of some
                            items may also be subject to additional restrictions imposed by the copyright
                            owner and/or the repository.</p>

                        <p>Please contact the repository that owns the collection for information about
                            the copyright status of a particular digital image or text. For permission
                            to publish or obtain a reproduction of a particular collection item,
                            please contact the institution directly.</p>

                        <h4>Does RIAMCO appraise collections?</h4>
                        <p>RIAMCO does not offer appraisal services. If you have an item that you feel one
                            of the RIAMCO contributing repositories would be interested in or might have
                            more information about, you will need to contact the repository directly.
                            To locate contact information for a repository, go to the <a href="contact">Contact a Repository</a>
                            page of this website.</p>

                        <h4>What are the benefits of joining RIAMCO?</h4>
                        <p>Joining RIAMCO will raise awareness of the unique, primary source material
                            available in your institution and you will benefit from the technology and
                            training offered by RIAMCO. Please see
                            <a href="join">Become a Participating Institution</a>
                            for additional information.</p>

                        <h4>Can my institution join RIAMCO?</h4>
                        <p>Please fill out and submit the
                            <a href="http://riamco.org/RIAMCOApplication.pdf" target="_blank">RIAMCO Application</a>
                            or e-mail <a href="mailto:contact@riamco.org">contact@riamco.org</a> for information on how
                            a Rhode Island library, archive, museum, or other repository may join RIAMCO.</p>


                </div>
            </div> <!-- modal body -->
        </div> <!-- modal content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal_form -->

<div id="modal_resources_other" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="close window">
                    <span title="Close this window" class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modal-title">Other Resources</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Rhode Island Resources</h4>
                    <ul>
                        <li><a href="http://rhodi.org/about-rhodi/how-to-use-rhodi">Rhode Island History Directory Initiative (RHODI)</a>
                        <li><a href="http://sos.ri.gov/rihrab/direct.html">Rhode Island Historical Records Advisory Board</a>
                    </ul>

                    <h4>New England Resources</h4>
                    <ul>
                        <li>Connecticut - <a href="http://ctdigitalarchive.org/">Connecticut Digital Archive</a>
                        <li>Maine - <a href="http://www.mainememory.net/">Maine Memory Network</a>
                        <li>Massachusetts - <a href="http://asteria.fivecolleges.edu/index.html">Five College Archives and Manuscript Collections</a>
                        <li>New Hampshire - <a href="http://www.nhu-pac.library.state.nh.us/ipac20/ipac.jsp?session=E530807982DU9.5741&profile=nhais&menu=search&ts=1530808118890">New Hampshire Automated Information System</a>
                        <li>Vermont – <a href="http://arccat.uvm.edu/">ArcCat: Catalog of Vermont Archives and Manuscripts</a>
                    </ul>

                    <h4>United States and International Resources</h4>
                    <ul>
                        <li><a href="https://beta.worldcat.org/archivegrid/">ArchiveGrid</a>
                        <li><a href="https://dp.la/">Digital Public Library of America</a>
                        <li><a href="http://lcweb2.loc.gov/faid/faidfrquery.html">Library of Congress Finding Aids</a>
                    </ul>
                </div>
            </div> <!-- modal body -->
        </div> <!-- modal content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal_form -->