<div class="search-form">
  <form id="search-homepage" action="<%= search_path() %>" name="search-home" role="search" method="GET">
    <div class="input-group input-group-lg">
      <input class="form-control" id="q" name="q"
        value="<%= @presenter != nil ? @presenter.query : '' %>"
        placeholder="Names, places, subjects, material types..."
        title="Enter text to search for"
        type="text">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary btn-lg sympl-search">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span aria-only="true">Search</span>
        </button>
      </div>
    </div>
    <div class="input-group input-group-lg">
        <div class="input-group" style="padding-top: 10px; padding-left: 5px;">
          <a href="<%= advanced_search_url() %>">Advanced Search</a>
        </div>
    </div>

    <% if @presenter != nil %>
      <% (@presenter.form_values || []).each do |form_value| %>
        <input name="<%= form_value[:name] %>" id="<%= form_value[:name] %>"
          value="<%= form_value[:value] %>"
          type="text" class="hidden">
      <% end %>
    <% end %>
  </form>
</div>

