<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="always">

<title><%= @page_title || "RIAMCO" %></title>

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
<%= favicon_link_tag 'favicon.png' %>
</head>

<body class="no-logo fae">
	<div class="topbar">
		<a href="<%= root_url %>" title="Go back to the RIAMCO home page">
			<div>
					<p class="topbar-heading">RIAMCO</p>
					<p class="topbar-subheading">Rhode Island Archival and Manuscript Collections Online</p>
			</div>
		</a>
	</div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= yield %>

<footer role="contentinfo" class="footer col-sm-12">
	<div class="row">
		<div class="container">
			<div class="col-md-12">
				<p>Sponsors:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="http://www.neh.gov/"><img src="img/neh_logo.gif" alt="National Endowment" /></a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="http://www.wethepeople.gov/"><img src="img/wtp_logo.gif" alt="We the People" /></a>
				</p>
			</div>
		</div>
	</div>
</footer>

<% if ENV["GOOGLE_ANALYTICS_KEY"] %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_ANALYTICS_KEY"] %>"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', '<%= ENV["GOOGLE_ANALYTICS_KEY"] %>');
	</script>
<% end %>
</body>

<% if @nav_active %>
<script>
  $(function() {
    $("#<%= @nav_active %>").addClass("active");
  });
</script>
<% end %>

</html>


