<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<% # Carry referrer when using HTTPS (http://markpercival.tumblr.com/post/51560498133/hacking-https-http-referrers) %>
<meta name="referrer" content="always">

<title><%= @page_title || "RIAMCO" %></title>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<%= stylesheet_link_tag    'application', media: 'all' %>

<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
<%= favicon_link_tag 'favicon.ico' %>

</head>

<body class="no-logo fae">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RIAMCO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="nav_home"><a href="<%= home_index_path() %>">Home</a></li>
        <li id="nav_browse"><a href="#">Browse</a></li>
        <li id="nav_advanced"><a href="#">Advanced Search</a></li>
        <li id="nav_about"><a href="<%= home_about_path() %>">About</a></li>
        <li id="nav_help"><a href="<%= home_help_path() %>">Help</a></li>
        <li id="nav_contact"><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= yield %>

<footer role="contentinfo" class="footer col-sm-12">
	<div class="row">
		<div class="container">
			<div class="col-md-12">
				<p>Sponsors:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="http://www.neh.gov/"><img src="img/neh_logo.gif" alt="National Endowment" /></a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="http://www.wethepeople.gov/"><img src="img/wtp_logo.gif" alt="We the People" /></a>
				</p>
			</div>
		</div>
	</div>
</footer>

<% if ENV["GOOGLE_ANALYTICS_KEY"] %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_ANALYTICS_KEY"] %>"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', '<%= ENV["GOOGLE_ANALYTICS_KEY"] %>');
	</script>
<% end %>
</body>

</html>
