<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="always">

<title><%= @page_title || "RIAMCO" %></title>

<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
<%= favicon_link_tag 'favicon.png' %>
</head>

<body class="no-logo fae">
	<div class="topbar">
		<% if @presenter != nil && @presenter.user != nil %>
			<style>
				.navbar-right { margin-right: 15px; margin-top: 10px; }
			</style>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="<%= @presenter.user.description %>">
						<% if @presenter.user.is_reading_room? %>
							<span class="glyphicon glyphicon-book"></span>
						<% else %>
							<span class="glyphicon glyphicon-user"></span>
						<% end %>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="<%= root_url() %>">Home page</a></li>
						<li><a href="<%= upload_list_url() %>">Admin Tools</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="<%= login_logout_url() %>">Logout</a></li>
					</ul>
				</li>
			</ul>
		<% end %>
		<a href="<%= root_url %>" title="Go back to the RIAMCO home page">
			<div>
					<p class="topbar-heading">RIAMCO</p>
					<p class="topbar-subheading">Rhode Island Archival and Manuscript Collections Online</p>
			</div>
		</a>
	</div>

<% if flash[:notice] %>
    <div id="flash-notice" class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>

<% if flash[:alert] %>
    <div id="flash-alert" class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<%= yield %>

<% if @footer == false %>
	<!-- nothing to render -->
<% else %>
	<footer role="contentinfo" class="footer col-sm-12">
		<div class="row">
			<div class="container">
				<div class="col-md-12">
					<p>Sponsors:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="http://www.neh.gov/"><img src="//www.riamco.org/img/neh_logo.gif" alt="National Endowment" /></a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="https://www.neh.gov/divisions/fedstate/resource/we-the-people-council-projects"><img src="//www.riamco.org/img/wtp_logo.gif" alt="We the People" /></a>
					</p>
				</div>
			</div>
		</div>
	</footer>
<% end %>

<% if ENV["GOOGLE_ANALYTICS_KEY"] %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_ANALYTICS_KEY"] %>"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', '<%= ENV["GOOGLE_ANALYTICS_KEY"] %>');
	</script>
<% end %>

<% if @nav_active %>
<script>
  $(function() {
    $("#<%= @nav_active %>").addClass("active");
  });
</script>
<% end %>

</body>
</html>


